---
name: create snippet with custom space indent
prefix: snip:spaces
description: Basic snippet template that uses a custom (not eq 2) space indent
---
---
name: $1
prefix: $2
description: ${3:optional}
${4:spaceIndent: ${5:Optional. Delete this line if using tabs or a 2-space tabstop. Hit tab to enter a space indent value.}}
---

${0:snippet code goes here!}